@model ProjetASP.MVC.Models.AdresseDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AdresseDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CGLatitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CGLatitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CGLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CGLongitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ville)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
