@using ProjetASP.MVC.Infrasctucture
@model IEnumerable<ProjetASP.MVC.Models.ChambreListItem>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeDeChambre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreDeSDB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreDeWC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        

        <th>
            @Html.DisplayName("reservation")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeDeChambre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDeSDB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDeWC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @if (SessionManager.UtilisateurDetails == null)
                {
                    @Html.ActionLink("Reserver la chambre", "../auth/login")
                }
                else
                {
                    @Html.ActionLink("Reserver la chambre", "../reservation/create", new { id = item.Id })
                }

            </td>
            <td>
                @if (SessionManager.UtilisateurDetails != null)
                {
                    if (SessionManager.IsAdmin)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id });
                        @Html.ActionLink("Details", "Details", new { id = item.Id });
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id });
                    }
                }
            </td>
        </tr>
    }

</table>
